<ion-view view-title="Lista de Peliculas">
  <ion-content>
    <ion-list>
   <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover1.jpg">
      <h2>The Good Dinosaur</h2>
      <p>Director: Peter Sohn</p>
      <p>2015 ‧ Animation </p>
       <p>Reparto: Lucas Neff, John Lithgow, Frances McDormand, Neil Patrick Harris, Judy Greer, Bill Hader</p>
      
    </a>
<a class="item item-thumbnail-left" href="#">
      <img src="cover2.jpg" style="border-radius:50%;">
      <h2>In the Heart of the Sea</h2>
      <p>Director: Ron Howard</p>
      <p>2015 ‧ Drama </p>
       <p>Reparto: Chris Hemsworth, Cillian Murphy, Ben Whishaw, Brendan Gleeson, Joseph Mawle</p>
      
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="cover3.png">
      <h2>The Hunger Games: Mockingjay - Part 2</h2>
      <p>Director: Francis Lawrence</p>
      <p>2015 ‧ Action/Adventure/Drama/Scifi/Fantasy </p>
       <p>Reparto: Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth</p>
      
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="cover4.jpg">
      <h2>Unfriended</h2>
      <p>Director: Levan Gabriadze</p>
      <p>2015 ‧ Horror/Suspense/Thriller </p>
       <p>Reparto: Shelley Hennig, Moses Jacob Storm, Renee Olstead, Will Peltz, Jacob Wysocki, Courtney Halverson, Heather Sossaman</p>
      
    </a>
   <a class="item item-thumbnail-left" href="#">
      <img src="cover5.jpg">
      <h2>Star Wars: The Force Awakens</h2>
      <p>Director: J.J. Abrams</p>
      <p>2015 ‧ Scifi/Fantasyy </p>
       <p>Reparto: John Boyega, Daisy Ridley, Oscar Isaac, Adam Driver</p>
      
    </a>
</div>
    </ion-list>
  </ion-content>
</ion-view>
